.ShopContainer {
    display: flex;
    gap: 6rem;
    flex-wrap: wrap;
    height: 100%;
    padding: 3rem;
    width: 100%;
    
        
    
.itemContainer {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    width: 20%;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    transition: transform 200ms;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
        background-color: white;
    }
    
   img {
  
    width: 40%;
   }

   h6 {
    text-align: center;
   }
   .ratingContainer {
    display: flex;
    gap: 1rem;
       .starCont {
           display: flex;
           justify-content: center;
           align-items: center;
           
        }
    }
}
    
}

.checked {
    color: orange;
}