.ShopContainer {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    max-width: 100vw;
    margin: 2rem;

    .itemContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        word-break: break-word;
        overflow-wrap: break-word;
        overflow: hidden;
        width: 25%;
        min-width: 250px;
        padding: 15px;
        align-items: center;
        border: 5px solid transparent;
        border-image: linear-gradient(to bottom right, #3EECAC 0%, #EE74E1 100%);
        border-image-slice: 1;

        img {
            height: 125px;
        }

        h6 {
            margin: 5px 0;
            font-size: 1rem;
            text-align: center;
        }

        .ratingContainer {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            gap: 6px;

            .starCont {
                display: flex;
                gap: 3px;
            }

            h6 {
                background-color: #ccc;
                padding: 4px 8px;
                font-size: 0.8rem;
                border-radius: 6px;
            }
        }

        button {
            font-size: 1rem;
            width: max-content;
            padding: 7px 15px;
            cursor: pointer;
            background-color: black;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-weight: 600;
            letter-spacing: 1px;
            border: 5px solid black;

            &:hover {
                background-color: white;
                color: black;
                transition: 200ms;
            }
        }
    }

}

.checked {
    color: orange;
}