* {
    box-sizing: border-box;
}

body,html {

    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    color: white;
    align-items: center;
    gap: 2rem;
    padding: 0 2rem;
    height: 4rem;
    
    .site-Title {
        font-size: 2rem;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1.4rem;
        display: flex;
        gap: 2rem;
    }
}
.mainCartContainer {
    display: flex;
    flex-direction: column;
    height: 20%;

    .cartContainer {
        display: flex;

        padding: 2rem;
        height: 20%;    
        flex-direction: column;
       
        .itemContainer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .ratingContainer {
                display: none;
            }
            img{
                margin: 2rem;
                width: 100px;
             
            }
            .priceAndQauntity {
                display: flex;
                flex: 0 0 auto;
                width: 80%;
                text-align: center;
                word-wrap: break-word;
                align-items: center;
                justify-content: space-around;
               
                .ArrowUp{
                    cursor: pointer;
                }
                .ArrowDown {
                    cursor: pointer;
                }
            
                
                h4 {
                    inline-size: 40%;
                }
                h6 {
                    font-size: 1.3rem;
                }
            }
        }
    }
}


